@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* @theme {
  --font-notc: "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
} */

body {
  background-color: #f9fafb;
  color: #1E293B;
  font-family: "Noto Sans TC", sans-serif;
}
